{% include "admins/nav.html" %}

<h1 class="text-center">How to add About Info</h1>
<form action="/admin/save_Experience/"  method="post" enctype="multipart/form-data" class="shadow-lg p-4 rounded" >
    {% csrf_token %}
    <div>
        <label>Years(2000 to 2100)</label>
        <input type="text" name="Years" class="form-control shadow-sm" >
    </div>
    <div>
        <label>Skill</label>
        <input type="text" name="Skill" class="form-control shadow-sm" >
    </div>
    <div>
        <label>Devlopment</label>
        <input type="text" name="Devlopment" class="form-control shadow-sm" >
    </div>
    <div>
        <label>heading</label>
        <input type="text" name="heading" class="form-control shadow-sm" >
    </div>
     <div>
        <label>heading_info1</label>
        <input type="text" name="heading_info1" class="form-control shadow-sm" >
    </div>
     <div>
        <label>heading_info2:</label>
        <input type="text" name="heading_info2" class="form-control shadow-sm" >
    </div>
      <div>
        <label>heading_info3:</label>
        <input type="text" name="heading_info3" class="form-control shadow-sm" >
    </div>
     <div class="text-center mt-3 col-12">
       <button class="btn btn-primary w-25">Submit</button>
    </div>
     <table class="table table-border mt-4">
        <tr>
            <th>Action</th>
            <th>Years</th>
            <th>Skill</th>
            <th>Devlopment</th>
            <th>heading</th>
            <th>heading_info1</th>
            <th>heading_info2</th>
            <th>heading_info3</th>

        </tr>
        {% for i in experience %}
        <tr>
            <td>
                 <a href="/admin/delete_experience/?id={{ i.id }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
            <td>{{i.Years}}</td>
            <td>{{i.Skill}}</td>
            <td>{{i.Devlopment}}</td>
            <td>{{i.heading}}</td>
            <td>{{i.heading_info1}}</td>
            <td>{{i.heading_info2}}</td>
            <td>{{i.heading_info1}}</td>

        </tr>
        {% endfor %}
    </table>


</form>

{% include "admins/footer.html" %}
