{% include "admins/nav.html" %}

<h1 class="text-center">How to add Img</h1>
<form action="/admin/save_img/"  method="post" enctype="multipart/form-data" class="shadow-lg p-4 rounded" >
    {% csrf_token %}
    <div>
        <label>Add Img</label>
        <input type="file" name="img" class="form-control shadow-sm" accept="image/*">
    </div>
     <div class="text-center mt-3 col-12">
       <button class="btn btn-primary w-25">Submit</button>
    </div>
</form>
<table class="table  table-border">
    <tr>
        <th>action</th>
        <th>IMG</th>
    </tr>
    {% for i in Data %}
    <tr>
        <td> <a href="/admin/delete_img/?id={{ i.id }}" class="btn btn-danger btn-sm">Delete</a>
        </td>
        <td>
            <img src="/{i.img}">
        </td>

    </tr>
    {% endfor %}
</table>

{% include "admins/footer.html" %}
